<%= render 'shared/page_title', title: @recipe.name %>

<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Steps: </strong></h4>
  <hr />
  <%= simple_format(@recipe.description) %>
  <hr />
  <% if @recipe.ingredients.any? %>
    <p>Ingredients: <%= render @recipe.ingredients %></p>
  <% end %>
  <div class="pull-right">
    <p class="center">
      <em>Created by:</em>
    </p>
    <p class="center">
      <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
    </p>
    <p class="center">
      <small><%= @recipe.chef.chefname.capitalize %></small>
      <div class="pull-right"><%= time_ago_in_words(@recipe.created_at) %> ago</div>
    </p>
  </div>
  <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
    <div class="recipe-edit">
      <%= link_to "Edit Recipe", edit_recipe_path(@recipe), class:"btn btn-primary"%>
      <%= link_to "Delete Recipe", edit_recipe_path(@recipe), class:"btn btn-danger",
          method: :delete,data: { confirm: "Are you sure you want to delete?" }%>
  </div>
  <% end %>
  <div>
    <br>
    <%= link_to "Return to Recipes Listing", recipes_path, class:"btn btn-warning"%>
  </div>
</div>
